pre,
code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

pre {
  padding: .5rem;
  line-height: 1.25;
  overflow-x: scroll;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

a, a:visited {
  color: #990000;
}

a:hover,
a:focus,
a:active {
  color: #cc0000;
}

.retro-no-decoration {
  text-decoration: none;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}

p, .retro-p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

ul:not(.nav-elem){
  margin: 0 0 0 40px;
}

ol:not(.nav-elem){
  margin: 20px 20px 20px 40px;
}

li:not(.nav-elem){
  margin: 0 0 0 0;
}

h1,
.retro-h1,
h2,
.retro-h2,
h3,
.retro-h3,
h4,
.retro-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

h1,
.retro-h1 {
  margin-top: 0;
  font-size: 3rem;
}

h2,
.retro-h2 {
  font-size: 2.5rem;
}

h3,
.retro-h3 {
  font-size: 1.8rem;
}

h4,
.retro-h4 {
  font-size: 1.4rem;
}

h5,
.retro-h5 {
  font-size: 1.121rem;
}

h6,
.retro-h6 {
  font-size: .88rem;
}

small,
.retro-small {
  font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

#content-box img {
	  max-width: 500px;
	text-align: center;
}

pre {
  background-color: rgba(40,40,40,0.6);;
  overflow: auto;
  margin-bottom: 20px;
}

blockquote {
  border-left: 3px solid #660000;
  background-color: rgba(40,40,40,0.6);
  padding-left: 1rem;
}
